*
  padding: 0
  margin: 0
  border: 0
  outline: 0
  background-color: inherit
  color: inherit
  font-family: inherit
  font-size: inherit
  box-shadow: none
  box-sizing: border-box

html
  scroll-behavior: smooth

h1,
h2,
h3,
h4
  line-height: 1.2
  color: var(--clr-fg-alt)

h1
  font-size: 4rem

h2
  font-size: 2rem

h3
  font-size: 1.5rem

h4
  font-size: 1.3rem

ul
  list-style-type: none

a
  text-decoration: none

button
  cursor: pointer

@media (max-width: 900px)
  h1
    font-size: 2.5rem

.app
  font-family: 'Poppins', sans-serif
  line-height: 1.5
  color: var(--clr-fg)
  background-color: var(--clr-bg)

main
  max-width: 1100px
  width: 95%
  margin: 0 auto

.section
  margin-top: 5em

.section__title
  text-align: center
  margin-bottom: 1em
  text-transform: uppercase

.center
  display: flex
  align-items: center


@media (max-width: 600px)
  .section
    margin-top: 4em
